{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
    {% assign author = site.data.authors[page.author] %}
{% else %}
    {% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person">

    <div class="author__avatar">
        {% if author.avatar contains "://" %}
            <img src="{{ author.avatar }}" alt="{{ author.name }}">
        {% else %}
            <img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" class="author__avatar" alt="{{ author.name }}">
        {% endif %}
    </div>

    <div class="author__content">
        <h3 class="author__name">{{ author.name }}</h3>
        {% if author.bio %}
            <p class="author__bio">{{ author.bio }}</p>
        {% endif %}
    </div>

    <div class="author__urls-wrapper">
        <button class="btn btn--inverse">Follow</button>
        <ul class="author__urls social-icons">
            {% if author.location %}
                <li>
                    <i aria-hidden="true" class="fa fa-fw fa-map-marker"></i>
                    {{ author.location }}</li>
            {% endif %}
            {% if author.employer %}
                <li>
                    <i aria-hidden="true" class="fa fa-fw fa-book-reader"></i>
                    {{ author.employer }}</li>
            {% endif %}
            {% if author.github %}
                <li>
                    <a href="https://github.com/{{ author.github }}">
                        <i aria-hidden="true" class="fab fa-fw fa-github"></i>
                        Github</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
